.leftText{
    cursor: pointer;
    color: white;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 230px;
    font-weight: 900;
    transition: 0.5s;
}

.rightText{
    width: 400px;
    color: white;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 300;
    transition: 0.5s;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.textClicked{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: translateX(-20px) scale(0.6,0.6);
}

.text:hover .leftText {
    color: rgba(255, 255, 255, 0.393);
    transform: scale(1.1,1.1);
}

.text:hover .rightText {
    transform: translateX(30px)
}
@media only screen and (max-width: 1200px){
    .textClicked{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: none;
    }
    .text{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: none;
    }
    .leftText{
        text-align: center;
        font-size: 150px;
    }
    .rightText{
        font-size: 30px;
        text-align: center;
    }

    .text:hover .rightText {
        transform: translateY(-20px);
    }
    .textClicked:hover .rightText {
        width: 500px;
        font-size: 30px;
        transform: translateY(-20px);
    }
}
@media only screen and (max-width: 800px){
  
    .leftText{
        font-size: 90px;
    }
    .rightText{
        font-size: 20px;
        text-align: center;
    }
    .text:hover .rightText {
        transform: translateY(-30px)
    }
    .text:hover .leftText {
        transform: translateY(-30px) scale(1.1,1.1);
    }
}