
.profile {
    position: relative;
    margin-top: 70px;
    width: 900px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.pp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: grey;
}

.pp img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: 0.5s;
}

.pp img:hover {
    transform: scale(1.1);
}

.line {
    margin-left: 20px;
    margin-right: 20px;
    width: 5px;
    height: 200px;
    background-color: white;
}

.name a{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

.name a:hover{
    color: rgb(98, 98, 98);
    transform: scale(1.1) translateX(7px);
}

.name h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: white;
}


