@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container2 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
  
}

.bg {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
}

.mainSection {
    position: relative;
    background-color: rgba(255, 255, 255, 0.096);
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 40px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
        overflow-x: hidden; 
}

@media only screen and (max-width: 800px){
    .container{
        flex-direction: column;
    }
}