.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonText{
    width: 400px;
    height: 48px;
    margin-bottom: 10px;
    border-radius: .125rem;
}

.skeletonText2{
    width: 220px;
    height: 40px;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeletonText3{
    width: 150px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: .125rem;
}

.skeletonText4{
    width: 100px;
    height: 10px;
    margin-bottom: .25rem;
    border-radius: .125rem;
}


@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}

@media only screen and (max-width: 800px){
    .skeletonText{
        text-align: center;
        height: 30px;
        width: 300px;
    }
    
    .skeletonText2{
        text-align: center;
        height: 22px;
    }

    .skeletonProfile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}